##Data Augmentation

In most DL applications Data is one of the major bottlenecks it is not always easy to collect and lable data. We are always looking for smart ways to reduce the cost of data generation.

One way to do this data augmentaion, where we use the available data to produce more data samples.

In this example we will generate new samples of MNIST dataset using torchvision.transforms.

In [ ]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
import numpy as np
import matplotlib.pyplot as plt
from torchvision.utils import make_grid
from torchvision.utils import save_image
from torchvision import transforms
from torchvision.datasets import MNIST
from torch.utils.data import Dataset, DataLoader
import imageio as Image
from skimage import transform

%matplotlib inline

In [ ]:



# MNIST
def mnist(batch_sz):
    num_classes = 10
    transform_train = transforms.Compose([
                        transforms.RandomCrop(28, padding=4),
                        transforms.ToTensor(),
                    ])
    transform_test = transforms.Compose([
                        transforms.ToTensor(),
                    ])

    # Training dataset
    train_data = MNIST(root='./datasets', train=True, download=True, transform=transform_train)
    train_loader = torch.utils.data.DataLoader(train_data, batch_size=batch_sz, shuffle=True,pin_memory=True)

    # Test dataset
    test_data = MNIST(root='./datasets', train=False, download=True, transform=transform_test)
    test_loader = torch.utils.data.DataLoader(test_data,
                                              batch_size=batch_sz, shuffle=False, pin_memory=True)

    return train_loader, test_loader, num_classes

In [ ]:
train_loader, test_loader,_=mnist(10)

Downloading http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz
Downloading http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz to ./datasets/MNIST/raw/train-images-idx3-ubyte.gz

100%|██████████| 9912422/9912422 [00:00<00:00, 62950771.66it/s]

Extracting ./datasets/MNIST/raw/train-images-idx3-ubyte.gz to ./datasets/MNIST/raw

Downloading http://yann.lecun.com/exdb/mnist/train-labels-idx1-ubyte.gz
Downloading http://yann.lecun.com/exdb/mnist/train-labels-idx1-ubyte.gz to ./datasets/MNIST/raw/train-labels-idx1-ubyte.gz

100%|██████████| 28881/28881 [00:00<00:00, 62089028.10it/s]

Extracting ./datasets/MNIST/raw/train-labels-idx1-ubyte.gz to ./datasets/MNIST/raw

Downloading http://yann.lecun.com/exdb/mnist/t10k-images-idx3-ubyte.gz
Downloading http://yann.lecun.com/exdb/mnist/t10k-images-idx3-ubyte.gz to ./datasets/MNIST/raw/t10k-images-idx3-ubyte.gz

100%|██████████| 1648877/1648877 [00:00<00:00, 26927371.26it/s]

Extracting ./datasets/MNIST/raw/t10k-images-idx3-ubyte.gz to ./datasets/MNIST/raw

Downloading http://yann.lecun.com/exdb/mnist/t10k-labels-idx1-ubyte.gz
Downloading http://yann.lecun.com/exdb/mnist/t10k-labels-idx1-ubyte.gz to ./datasets/MNIST/raw/t10k-labels-idx1-ubyte.gz

100%|██████████| 4542/4542 [00:00<00:00, 6580493.53it/s]

Extracting ./datasets/MNIST/raw/t10k-labels-idx1-ubyte.gz to ./datasets/MNIST/raw

In [ ]:
!mkdir 'images'

In [ ]:


im_name=[]
labels=[]
ind=0
for i,batch in enumerate(train_loader):
  if i>30:
      break
  for j in range(batch[0].shape[0]):

    im=batch[0][j,:,:,:]
    save_image(im,f"./images/{ind}.jpg",normalize=True)
    im_name.append(f"{ind}.jpg")
    labels.append(batch[1][j].item())
    ind+=1
    im=torch.squeeze(im)

    #plt.imshow(im)
    #plt.title(f"{batch[1][j].item()}")

In [ ]:
import pandas as pd
df=pd.DataFrame(zip(im_name,labels),columns=['Name','label'])

df.to_csv('im_list.csv')

In [ ]:
# im --->(3, 28,28)
#t --->[shift_left, shift_rigth, shift_up, shift_down]

def translate(im, t):

In [ ]:
df

     Unnamed: 0   Name  label
0             0  0.jpg      5
1             1  1.jpg      8
2             2  2.jpg      6
3             3  3.jpg      2
4             4  4.jpg      0
..          ...    ...    ...
305         305  5.jpg      1
306         306  6.jpg      0
307         307  7.jpg      6
308         308  8.jpg      8
309         309  9.jpg      3

[310 rows x 3 columns]